<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <configSections>
    <section name ="fileSystemDistributorSection" 
             type ="FileSystemDistributor.Configuration.FileSystemDistributorSection, FileSystemDistributor"/>
  </configSections>
  <fileSystemDistributorSection culture="en-US">
    <directories> 
      <directory path="D:\Mentoring\TestFolder"/>
    </directories>
    <rules defaultFolder="D:\Mentoring\DefaultDirectory">
      <rule fileNameTemplate="*.bmp" destinationDirectoryPath="D:\Mentoring\DestinationDirectories\bmpFiles" isOrderRequired="false" isDateRequired="true"/>
      <rule fileNameTemplate="*.xlsx" destinationDirectoryPath="D:\Mentoring\DestinationDirectories\xlsFiles" isOrderRequired="true" isDateRequired="false"/>
      <rule fileNameTemplate="*.txt" destinationDirectoryPath="D:\Mentoring\DestinationDirectories\txtFiles" isOrderRequired="false" isDateRequired="true"/>
      <rule fileNameTemplate="*.pptx" destinationDirectoryPath="D:\Mentoring\DestinationDirectories\pptFiles" isOrderRequired="false" isDateRequired="false"/>
    </rules>
  </fileSystemDistributorSection>
</configuration>