<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <configSections>
    <section name ="fileSystemDistributorSection" 
             type ="FileSystemDistributor.Configuration.FileSystemDistributorSection, FileSystemDistributor"/>
  </configSections>
  <fileSystemDistributorSection culture="">
    <directories> 
      <directory path=""/>
    </directories>
    <rules defaultFolder="">
      <rule fileNameTemplate="" destinationDirectoryPath="" isOrderRequired="" isDateRequired=""/>
      <rule fileNameTemplate="" destinationDirectoryPath="" isOrderRequired="" isDateRequired=""/>
      <rule fileNameTemplate="" destinationDirectoryPath="" isOrderRequired="" isDateRequired=""/>
      <rule fileNameTemplate="" destinationDirectoryPath="" isOrderRequired="" isDateRequired=""/>
    </rules>
  </fileSystemDistributorSection>
</configuration>